.btn-fill {
  @extend .btn;
  background: $main-color;
  border: 1px solid $main-color;
  color: white;
  & img {
      height: 14px;
      margin-right: 5px;
  }
  &.btn-calc {
      padding-left: 9px;
  }
}
