.btn {
  display: inline-block;
  vertical-align: middle;
  background: $main-color-extra-light;
  color: black;
  font-size: $main-font-size;
  text-decoration: none;
  font-family: 'helveticaneuecyrregular';
  padding: 8px 18px;
  border-radius: 16px;
  border: 0;
  position: relative;
  &:disabled {
      background: $text-grey;
  }
  & span {
      line-height: inherit !important;
  }
}
