.input-text,
.textarea {
  border: 1px solid $text-grey-light;
  border-radius: $border-radius-element-form + px;
  font-family: $font-regular;
  font-size: $main-font-size;
  height: $height-element-form + px;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  vertical-align: middle;
  width: 100%;
}

.textarea {
  line-height: normal;
  padding-top: 9px;
  overflow: auto;
  height: 100px;
}

.form-row {
  padding: 0 0 14px 0;

  &-inner {
    vertical-align: top;
    display: inline-block;
    &.placeholder-select {
      & .customSelect {
        color: $placeholder-gray !important;
      }
    }
  }
  &-messages {
    line-height: $line-height-main + px;
    vertical-align: top;
    display: inline-block;
    padding: 10px 0 0 15px;
    margin: 0 0 0 -5px;
    box-sizing: border-box;
  }
}
