/node_modules
/public/storage
/vendor
/.idea
/storage
/resources/assets/bower
/public/.htaccess
/public/request-photos
/public/img/webp
Homestead.json
Homestead.yaml
.env
Envoy.blade.php
/.vscode
.DS_Store