.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  // content: "..."; /* ascii code for the ellipsis character */
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
  position: absolute;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@keyframes blink {
  from {
     opacity: 1;
  }
  to {
     opacity: 0;
  }
}

$font-ultra-light: 'helveticaneuecyrultralight';
$font-light: 'helveticaneuecyrlight';
$font-roman: 'helveticaneuecyrroman';
$font-medium: 'helveticaneuecyrmedium';
$font-regular: 'helveticaneuecyrregular';
$font-bold: 'helveticaneuecyrbold';
$font-italic: 'helveticaneuecyrlight_italic';

.loading-inside-button {
    padding: 0;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}
.check-mark {
  @extend .fa;
  @extend .fa-check;
}

.inline {
    display: inline-block;
}

.speech-bubble {
    position: relative;
    width: 250px;
    height: 62px;
    // line-height: 50px;
    color: #FFFFFF;
    // text-align: center;
    padding: 10px;
    line-height: 16px;
    background: #e8e8e8;
    color: black;
    border-radius: 6px;
    margin-left: -121px;
    margin-top: -138px;
    box-shadow: 5px 5px 19px 0px #A3A3A3;
    opacity: .95;
    font-family: $font-light;
}

.speech-bubble:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 15px 10px 0;
   border-color: #e8e8e8 transparent;
   display: block;
   width: 0;
   z-index: 1;
   bottom: -15px;
   left: 110px;
}

.relative {
    position: relative;
}

.hidden {
    display: none;
}

.deadline-underline {
    border-bottom: 2px solid #e90f20;
}

mark {
    background: #d9eede;
}

.page-best-students {
    & .button-student-reviews {
        display: none;
    }
}

.price-strokeout {
    text-decoration: line-through;
    color: $text-grey-light;
    font-size: 12px;
}

.header-1 {
  @extend h1;
}

.header-2 {
  @extend h2;
}

.header-3 {
  @extend h3;
}

.no-style-link {
  text-decoration: none;
  color: black;
}


$line-1: #ca5948;
$line-2: #528c5d;
$line-3: #5a68a0;
$line-4: #4babd8;
$line-5: #9b6144;
$line-6: #d78a4b;
$line-7: #a25980;
$line-8: #ebe457;
$line-9: #838382;
$line-10: #79b872;
$line-11: #4c7ea9;
$line-12: #b0cccb;
$line-13: #E2A6A6;

.metro-circle {
  height: 14px;
  width: 14px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  top: -1px;
  position: relative;

  &.line-1 {background-color: $line-1}
  &.line-2 {background-color: $line-2}
  &.line-3 {background-color: $line-3}
  &.line-4 {background-color: $line-4}
  &.line-5 {background-color: $line-5}
  &.line-6 {background-color: $line-6}
  &.line-7 {background-color: $line-7}
  &.line-8 {background-color: $line-8}
  &.line-9 {background-color: $line-9}
  &.line-10 {background-color: $line-10}
  &.line-11 {background-color: $line-11}
  &.line-12 {background-color: $line-12}
  &.line-13 {background-color: $line-13}
}

.flex-items-center {
  display: flex;
  align-items: center;
}