.btn {
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-size: 13px;
    text-decoration: none;
    font-family: $font-medium;
    padding: 5px 12px 6px;
    border-radius: 24px;
    border: 0;
    position: relative;
    &:disabled {
        background: $text-grey;
        border-color: $text-grey;
    }
    & span {
        line-height: inherit !important;
    }
}

.btn-fill {
  @extend .btn;
  background: $main-color;
  border: 1px solid $main-color;
  color: white;
  & img {
      height: 14px;
      margin-right: 5px;
      top: 3px;
      position: relative;
  }
  &.btn-calc {
      padding-left: 9px;
  }
}
